<div class="row mt-3">
  <div class="col-4 pos_izq ps-4 pt-3">
      <h2>{{ nombre }} {{ apellido }}</h2>
      <h5>{{ profesion }}</h5>
        <i class="fa-sharp fa-solid fa-pencil fa-2xl align-items-start icon3 icon4 mt-4" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal4"></i>
  </div>
  <!--<div class="col-2">-->
      <!--<a href="#" title=".">-->
      <!--<i class="fa-sharp fa-solid fa-pencil fa-2xl align-items-end icon3 icon2 mt-5" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal4"></i>-->
      <!--</a>-->
  <!--</div>-->

  <div class="col-sm-12 col-md-6 justify-content-md-end" >
      <figure class="mt-4 text-end">
          <blockquote class="blockquote">
              <p>{{ acerca_de_mi }}</p>
              <p>{{ acercademi }}</p>
          </blockquote>
          <figcaption class="blockquote-footer">
              Someone famous in <cite class="figcap" title="Source Title">Source Title</cite>
          </figcaption>
      </figure>
  </div>
</div>
<app-modaleditardash></app-modaleditardash>
