<!-- Modal -->
<div class="modal fade" id="exampleModal200" tabindex="-1" aria-labelledby="exampleModalLabel200" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title text-dark fs-5" id="staticBackdropLabel200">Agregue Nueva Experiencia Laboral</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
      </div>
      <div class="modal-body letra">
        <form [formGroup]="form">
          <div class="form-group">
            <label for="cambiar_foto"></label>
            <input type="file" id="cambiar_foto">
            <p class="help-block py-3"></p>
          </div>
          <div class="form-floating">
            <input type="text" class="form-control border mb-2" id="floatingPassword2" placeholder="Empresa">
            <label for="floatingPassword2">Empresa</label>
          </div>
          <div class="form-floating">
            <input type="text" class="form-control border mb-2" id="floatingPassword22" placeholder="Puesto">
            <label for="floatingPassword22">Cargo</label>
          </div>
          <div class="form-floating">
            <input type="text" class="form-control border" id="floatingPassword222" placeholder="Año de Inicio">
            <label for="floatingPassword222">Año de Inicio</label>
          </div>
          <div class="form-floating">
            <input type="text" class="form-control border" id="floatingPassword2222" placeholder="Año de Finalización">
            <label for="floatingPassword222">Año de Finalización</label>
          </div>

          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"></label>
            <textarea class="form-control border" id="exampleFormControlTextarea12" rows="3" placeholder="Tareas Desempeñadas" ></textarea>
          </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
        </form>
    </div>
  </div>
</div>
