<div class="modal fade" id="exampleModal400" tabindex="-1" aria-labelledby="exampleModalLabel400" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title text-dark fs-5" id="staticBackdropLabel400">Agregue</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
      </div>
      <div class="modal-body letra">
        <form [formGroup]="form">
          <div class="form-floating">
            <input type="text" class="form-control border mb-2" id="floatingPassword401" placeholder="Habilidad">
            <label for="floatingPassword401">Habilidad</label>
          </div>
          <div class="form-floating">
            <input type="text" class="form-control border mb-2" id="floatingPassword402" placeholder="Porcentaje Adquirido">
            <label for="floatingPassword402">Porcentaje Adquirido</label>
          </div>
          <div class="form-floating">
            <input type="text" class="form-control border" id="floatingPassword403" placeholder="Color a mostrar">
            <label for="floatingPassword403">Color a mostrar</label>
          </div>
                   
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

