<div class="modal fade" id="exampleModal11" tabindex="-1" aria-labelledby="exampleModalLabel11" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title text-dark fs-5" id="staticBackdropLabel11">Elimine</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
        </div>
        <div class="modal-body letra">
          <form [formGroup]="form">
            <div class="form-group">
              <label for="borrar_logoinstitucion"></label>
              <input type="file" id="borrar_logoinstitucion">
              <p class="help-block py-3"></p>
            </div>
            <div class="form-floating">
              <input type="text" class="form-control border mb-2" id="floatingPassword309" placeholder="Universidad">
              <label for="floatingPassword309">Universidad</label>
            </div>
            <div class="form-floating">
              <input type="text" class="form-control border mb-2" id="floatingPassword310" placeholder="Institución">
              <label for="floatingPassword310">Institución</label>
            </div>
            <div class="form-floating">
              <input type="text" class="form-control border" id="floatingPassword311" placeholder="Título">
              <label for="floatingPassword311">Título</label>
            </div>
            <div class="form-floating">
              <input type="text" class="form-control border" id="floatingPassword312" placeholder="Estado">
              <label for="floatingPassword312">Estado</label>
            </div>
           
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
